/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

/.idea/workspace.xml
/.idea/replstate.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/dictionaries
/.idea/shelf
/.idea/libraries
/.idea/modules
/.idea/gradle_extensions.xml
*.iml